body{
    background-color: rgb(240, 234, 226);
}

.navigation{
    height: 40px;
    color: rgb(235, 230, 223);
    background-color: black;
    font-weight: bold;
    font-size: larger;
    padding: auto 2px auto 3px;
    margin: 0%;
    position: relative;
}

#navbut,#search{
    position: absolute;
    right: 30px;
    top: 6px;
}

#search{
    right: 120px;
    border:3px solid rgb(107, 101, 101);
    width: 15%;
}

.input,.outsection{
    background-color: rgb(235, 234, 226);
    height: 100%;
    width: 80%;
    margin: 20px auto;
    padding: 3% 1%;
    float: center;
}

#text{
    background-color:  rgb(231, 223, 212);
    width: 98%;
    font-size: larger;
    font-family: sans-serif;
    border: 2px solid black;
    border-radius: 10px;
}

.note{
    text-transform: capitalize;
    font-weight: bold;
    font-size: larger;
}

.tittle{
    text-align: center;
    height: fit-content;
    width: 98%;
    margin-bottom: 1px;
    background-color:  rgb(231, 223, 212);
    color: black;
    border:2px solid black;
    border-radius: 5px;
}

.contain{
    background-color: rgb(231, 223, 212);
    color: rgb(56, 55, 52);
    height: fit-content;
    width: fit-content;
    border: 2px outset black;
    border-radius: 5px;
    margin: 1%;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 100%;
    float: right;
}

.contain:hover,.out_notes button:hover{
    background-color: rgb(219, 205, 186);
    color: rgb(41, 39, 37);
    border: 2px double black;
}

.out_notes{
    color: black;
    padding: 0% 2%;
    margin: 2% 0%;
    float: left;
    height: fit-content;
    width: 60%;
    font-size: larger;
    font-family: sans-serif;
    border:3px solid black;
    border-radius: 20px;
}

.out_notes button{
    clear: both;
    float: right;
    margin: 2%;
    padding: auto;
}

#date{
    color: brown;
}

.out_notes h6{
    float: right;
    margin: 0%;
}

.footer{
    clear: both;
    height: auto;
    background-color: rgb(42, 37, 37);
    color: rgb(240, 237, 234);
    padding: 0px 15px;
    text-align: center;
    font-size: 110%;
}

#about{
    clear: both;
    height: auto;
    font-family: serif;
    width: 90%;
    background-color: rgb(238, 233, 225);
    margin: auto;
    padding: 5px;
    border-radius: 10px;
}

.footer-link{
    text-align: right;
    color:black;
}

@media(max-width:450px){
    #navbut{
        display: none;
    }

    #search{
        position: absolute;
        border:3px solid rgb(107, 101, 101);
        width: 20%;
        top: 8px;
        right: 10%;
    }

    #text{
        width: 95%;
        height: 45%;
    }
    
    .tittle{
        text-align: center;
        height: fit-content;
        width: 95%;
    }

    #date{
        color: blue;
    }
    
    .out_notes{
        width: 100%;
    }

    .output{
        font-size: 10px;
    }

    #about{
        display: none;
    }
}

@media(max-width:250px){
    #search{
        display: none;
    }
}