body{
    text-align: center;
}

table{
    margin: auto;
}

td{
    width: 100px;
    height: 100px;
}

.ot{
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
}

.tt{
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
.tht{
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
}

.to{
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.tth{
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
